on:
  push:
    paths:
      - 'bash/**/*'
  pull_request:
    paths:
      - 'bash/**/*'

name: "Bash checks"

permissions:
  contents: read

jobs:
  check:
    if: "! contains(github.event.head_commit.message, '[ci skip]')"

    timeout-minutes: 10

    runs-on: ubuntu-latest

    steps:
    - name: Checkout git repository
      uses: actions/checkout@v3
    
    - name: Install dependencies
      run: |
        curl -L -O https://github.com/bats-core/bats-core/archive/refs/tags/v1.7.0.tar.gz && tar xf v1.7.0.tar.gz
        curl -L -O https://github.com/bats-core/bats-support/archive/refs/tags/v0.3.0.tar.gz && tar xf v0.3.0.tar.gz
        curl -L -O https://github.com/bats-core/bats-assert/archive/refs/tags/v2.0.0.tar.gz && tar xf v2.0.0.tar.gz
        curl -L -O https://github.com/koalaman/shellcheck/releases/download/v0.9.0/shellcheck-v0.9.0.linux.x86_64.tar.xz
        tar Jxf shellcheck-v0.9.0.linux.x86_64.tar.xz
        mv shellcheck-v0.9.0/shellcheck .

    - name: Session information
      run: |
        PATH="$PWD:$PATH" shellcheck --version
        BATS_SUPPORT_HOME=bats-support-0.3.0 BATS_ASSERT_HOME=bats-assert-2.0.0 PATH="bats-core-1.7.0/bin:$PATH" bats --version

    - name: ShellCheck
      run: |
        export PATH="$PWD:$PATH"
        cd bash/
        shellcheck --version
        shellcheck incl/*.bash
        shellcheck -x port4me

    - name: Check with Bats
      run: |
        export BATS_SUPPORT_HOME=$PWD/bats-support-0.3.0
        export BATS_ASSERT_HOME=$PWD/bats-assert-2.0.0
        export PATH=$PWD/bats-core-1.7.0/bin:$PATH
        bats --version
        cd bash/tests/
        bats *.bats
